.card {
	overflow: hidden;
	position: relative;
	width: 25ex;
	min-height: 300px;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	border: 1px solid #a7a7a7;
	background: #d8d9e3;
	padding: 10px;
	margin: 0 -80px -100px 0;
	float: left;
	opacity: 0.7;
	
	transform: scale(0.5) translateY(20px);
	transform-origin: center top;
	transition: all 0.2s ease-out;

	&.done {
		background: #a3e492;
		float: right;
		margin: 0 0 -120px -150px;
		transform: scale(0.3) translateY(20px);
		
		&:before {
			content: "\2713";
			color: #090;
			float: right;
			font-size: 1.5em;
			margin-top: -0.2em;
		}
	}
	
	&:target,
	&.current {
		background: #e3d587;
		width: 50ex;
		margin-top: 50px;
	}
	
	&.current,
	&:target,
	&:hover {
		transform: scale(1.0) translateY(0);
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
		opacity: 1;
		z-index: 100;
	}
	
	h1 a { text-decoration: none; color: inherit; }
	
	ul {
		list-style: none;
		padding: 0 0 20px 12px;
		border-bottom: 4px double rgba(218, 0, 0, 0.2);
	}

	li {
		padding: 2px 0;
		margin: 0;
		border-top: 1px dashed rgba(0, 0, 0, 0.3);
		
		&:first-child {
			border: none;
		}
	
		&.done {
			opacity: 0.25;
			text-decoration: line-through;
		}
		
		&.new {
			padding-left: 20px;
			
			a {
				text-decoration: none;
				opacity: 0.4;

				&:hover {
					opacity: 1;
				}
			}
		}
		
		.taskpoints {
			float: right;
			padding-right: 10px;
			opacity: 0.25;
		}
	}   
    

	.assignee {	
		position: absolute;
		left: 0;
		bottom: 0;
		display: inline-block;
		padding: 0 5px;
		color: #738199;
		opacity: 0.3;
		font-style: italic;
	}
}

button.new {
	transition: all 0.3s ease-in;
	box-sizing: content-box;
	border-style: dashed;
	border-color: hsla(120, 50%, 75%, 0.5);
	border-width: 2px;
	background: transparent;
	font-size: 2em;
	font-weight: bold;
	margin: 40px 0 0 40px;
	width: 75px;
	height: 75px;
	border-radius: 8px;
	cursor: pointer;
	opacity: 0.5;
	color: hsla(120, 50%, 50%, 0.8); // #999;
	
	&:hover {
		background: hsla(120, 50%, 50%, 0.2);
		border-color: hsla(120, 50%, 50%, 0.8);
		opacity: 1.0;

	}
}
